
    .bell,.mail{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(155, 155, 155, 0.056);
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .bell{
      color: red;
    }




.moon{
    width: 30px;
    height: 30px;
background-color: rgba(145, 145, 145, 0.338);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.moon:hover{
    cursor: pointer;
    background-color: antiquewhite;
}
.moon:active{
    background-color: rgb(47, 144, 255);

}
.bag{
    background-color: rgba(205, 205, 205, 0.579);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}